:root {
    --cardColor: #5e548e;
    --textColor: #EAE8FF;
    --backgroundColor: #231942;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--textColor);
    background: var(--backgroundColor);
    padding: 0 40px;
    text-align: left;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    background: #212431;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img.about {
    opacity: 0.5;
}

.card {
    height: 100%;
    width: 100%;
}

.card_name {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.card_desc {
    font-size: 1.4em;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 250px;
    gap: 20px;
    
}

.planet {
    background: var(--cardColor);
    border-radius: 5%;
}

.planet.sun {
    grid-column: 1/3;
    grid-row: 1/3;
}

.card_planet {
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--textColor);
    border-radius: 50%;
    display: inline-block;
}